extends layout

block content
    div(class="form-heading")
        h1 New Message
        a(href="/") Home
    form(class="new-message" action="/new", method="POST") 
        label(class="name-field") Name 
            input(type="text" placeholder="Name" name="name")
        label(class="message-field") Message 
            input(type="text" placeholder="Message" name="message")
        button(class="submit-btn" type="submit") Submit